<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 10px">#</th>
      <th>Título</th>
      <th>Criação</th>
      <th>Alteração</th>
      <th>Publicado?</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for issue in page_obj %}
    <tr class="align-middle">
      <td>{{ issue.id }}</td>
      <td>{{ issue.title }}</td>
      <td>{{ issue.created_at|date }}</td>
      <td>{{ issue.updated_at|date }}</td>
      <td>{{ issue.is_published | yesno:"Sim,Não," }}</td>
      {% include "dashboard/includes/actions.html" with obj=issue %}
    </tr>
    {% endfor %}
  </tbody>
</table>
