<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <!--begin::Sidebar Brand-->
  <div class="sidebar-brand">
    <!--begin::Brand Link-->
    <a href="{% url 'index' %}" class="brand-link">
      {% if publication.logo %}
      <img
        src="{{ publication.logo.url }}"
        alt="Logo"
        class="brand-image opacity-75 shadow"
        style="filter: brightness(100);"
      />
      {% else %}
      <span class="brand-text fw-light">{{ publication.short_title }}</span>
      {% endif %}
    </a>
    <!--end::Brand Link-->
  </div>
  <!--end::Sidebar Brand-->
  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <!--begin::Sidebar Menu-->
      <ul
        class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a href="{% url 'dashboard:index' %}" class="nav-link">
            <i class="nav-icon bi bi-house-fill"></i>
            <p>
              Início
            </p>
          </a>
        </li>
        {% if perms.app.view_publication %}
        <li class="nav-item">
          <a href="{% url 'dashboard:publication_detail' %}" class="nav-link">
            <i class="nav-icon bi bi-journals"></i>
            <p>
              Publicação
            </p>
          </a>
        </li>
        {% endif %}
        {% if perms.app.view_issue %}
        <li class="nav-item">
          <a href="{% url 'dashboard:issue_list' %}" class="nav-link">
            <i class="nav-icon bi bi-files"></i>
            <p>
              Edições
            </p>
          </a>
        </li>
        {% endif %}
        {% if perms.app.view_page %}
        <li class="nav-item">
          <a href="{% url 'dashboard:page_list' %}" class="nav-link">
            <i class="nav-icon bi bi-hand-index-thumb"></i>
            <p>Páginas</p>
          </a>
        </li>
        {% endif %}
        {% if perms.app.view_document %}
        <li class="nav-item">
          <a href="{% url 'dashboard:document_list' %}" class="nav-link">
            <i class="nav-icon bi bi-file-earmark-arrow-up-fill"></i>
            <p>Documentos</p>
          </a>
        </li>
        {% endif %}
        {% if perms.users.view_user %}
        <li class="nav-item">
          <a href="{% url 'dashboard:user_list' %}" class="nav-link">
            <i class="nav-icon bi bi-person-lines-fill"></i>
            <p>Usuários</p>
          </a>
        </li>
        {% endif %}
        {% if perms.auth.view_group %}
        <li class="nav-item">
          <a href="{% url 'dashboard:group_list' %}" class="nav-link">
            <i class="nav-icon bi bi-people-fill"></i>
            <p>Grupos</p>
          </a>
        </li>
        {% endif %}
        <li class="nav-item border-top">
          <form action="{% url 'account_logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="nav-link btn btn-dark fw-bolder shadow-none text-danger w-100">
              <i class="nav-icon bi bi-box-arrow-left"></i>
              <p>Sair</p>
            </button>
          </form>
        </li>
      </ul>
      <!--end::Sidebar Menu-->
    </nav>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>
