<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <!--begin::Sidebar Brand-->
  <div class="sidebar-brand">
    <!--begin::Brand Link-->
    <a href="{% url 'index' %}" class="brand-link">
      {% if publication.logo %}
      <img
        src="{{ publication.logo.url }}"
        alt="Logo"
        class="brand-image opacity-75 shadow"
      />
      {% else %}
      <span class="brand-text fw-light">{{ publication.short_title }}</span>
      {% endif %}
    </a>
    <!--end::Brand Link-->
  </div>
  <!--end::Sidebar Brand-->
  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <!--begin::Sidebar Menu-->
      <ul
        class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a href="{% url 'dashboard:index' %}" class="nav-link">
            <i class="nav-icon bi bi-house-fill"></i>
            <p>
              Início
            </p>
          </a>
        </li>
        {% if perms.dashboard.view_publication %}
        <li class="nav-item">
          <a href="{% url 'dashboard:publication' %}" class="nav-link">
            <i class="nav-icon bi bi-journals"></i>
            <p>
              Publicação
            </p>
          </a>
        </li>
        {% endif %}
        {% if perms.dashboard.view_issue %}
        <li class="nav-item">
          <a href="{% url 'dashboard:issues' %}" class="nav-link">
            <i class="nav-icon bi bi-files"></i>
            <p>
              Edições
            </p>
          </a>
        </li>
        {% endif %}
        {% if perms.dashboard.view_page %}
        <li class="nav-item">
          <a href="{% url 'dashboard:pages' %}" class="nav-link">
            <i class="nav-icon bi bi-hand-index-thumb"></i>
            <p>Páginas</p>
          </a>
        </li>
        {% endif %}
        {% if perms.dashboard.view_document %}
        <li class="nav-item">
          <a href="{% url 'dashboard:documents' %}" class="nav-link">
            <i class="nav-icon bi bi-file-earmark-arrow-up-fill"></i>
            <p>Documentos</p>
          </a>
        </li>
        {% endif %}
        {% if perms.dashboard.view_user %}
        <li class="nav-item">
          <a href="{% url 'dashboard:users' %}" class="nav-link">
            <i class="nav-icon bi bi-people-fill"></i>
            <p>Usuários</p>
          </a>
        </li>
        {% endif %}
      </ul>
      <!--end::Sidebar Menu-->
    </nav>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>
