<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 10px">#</th>
      <th>Nome</th>
      <th>E-mails</th>
      <th>Grupos</th>
      <th>Último acesso</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for tuser in page_obj %}
    <tr class="align-middle">
      <td>{{ tuser.id }}</td>
      <td>{{ tuser.first_name }} {{ tuser.last_name }}</td>
      <td>
        {% for email in tuser.emailaddress_set.all  %}
          {{ email }}{% if not forloop.last %}, {% endif %}    
        {% empty %}
          {{ tuser.email|default:"-" }}
        {% endfor %}
      </td>
      <td>
        {% for group in tuser.groups.all  %}
          {{ group }}{% if not forloop.last %}, {% endif %}    
        {% empty %}
        -
        {% endfor %}
      </td>
      <td>
        {{ tuser.last_login|default:"-" }}
      </td>
      {% include "dashboard/includes/actions.html" with obj=tuser %}
    </tr>
    {% endfor %}
  </tbody>
</table>
