<div class="btn-group btn-group-sm" role="group">
  {% if "view" in allowed_actions %}
  <a href="{% url allowed_actions.view record.id %}" class="btn btn-info" title="Visualizar">
    <i class="bi bi-eye"></i>
  </a>
  {% endif %}
  {% if "change" in allowed_actions %}
  <a href="{% url allowed_actions.change record.id %}" class="btn btn-warning" title="Editar">
    <i class="bi bi-pencil"></i>
  </a>
  {% endif %}
  {% if "delete" in allowed_actions %}
  <button
    hx-get="{% url allowed_actions.delete record.id %}"
    hx-target=".modal-content"
    hx-trigger="click"
    data-bs-toggle="modal"
    data-bs-target="#modals-here"
    class="btn btn-danger"
    title="Remover">
    <i class="bi bi-trash"></i>
  </button>
  {% endif %}
</div>
