{% extends "website/base_page.html" %}
{% load static %}

{% block title %}Edição {{ issue.title }}{% endblock title %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="section-title">{{ issue.title }}</h1>
      <h2 class="section-title">Apresentação</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {{ issue.presentation | safe }}
      <p class="mb-0"><strong>Data de publicação</strong>: {{ issue.pub_date }}</p>
      {% if issue.url %}
      <p><strong>Link</strong>: <a href="{{ issue.url }}">{{ issue.url }}</a></p>
      {% endif %}
    </div>
    <div class="col-md-4 p-3">
      <div>
        {% if issue.file and issue.cover %}
        <a href="{{ issue.file.url }}">
          <img class="img-fluid border border-3 w-75 d-block mx-auto" src="{{ issue.cover.url }}" alt="Capa">
        </a>
        {% else %}
        <a href="#">
          <img class="img-fluid border border-3 w-75 d-block mx-auto" src="{% static 'img/placeholder/cover.png' %}" alt="Capa">
        </a>
        {% endif %}
      </div>
      <div class="list-group py-4">
        <div class="list-group-item mb-2 bg-success">
          <a class="d-block text-light text-start text-center text-decoration-none text-capitalize" 
          {% if issue.file %}
            href="{{ issue.file.url}}" target="_blank"
          {% else %}
            href="#" disabled
          {% endif %}
          >
            <span class=" me-2"><i class="bi bi-download"></i></span>
            Download
          </a>
        </div>
      </div> 
    </div>
  </div>
</div>
{% endblock %}
