{% extends "cms/private_base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block crumb %}
{{ block.super }}
<li class="breadcrumb-item">
  <a href="{{ request.get_full_path }}">{{page_title}}</a>
</li>
{% endblock %}

{% block app_content %}
{% if "add" in allowed_actions %}
<div class="pb-2 d-flex">
  <a class="ms-auto me-2" href="{% url allowed_actions.add %}">
    <button class="btn btn-primary">Novo</button>
  </a>
</div>
{% endif %}

<div class="table-responsive">
  {% include table_template %}
</div>

{% if paginator.num_pages > 1 %}
<ul class="pagination justify-content-center">
  <li class="page-item {{  page_obj.has_previous|yesno:',disabled,disabled'  }}">
    <a class="page-link" href="{% if page_obj.has_previous %}{% querystring page=page_obj.previous_page_number %}{% endif %}" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  {% for page in paginator.page_range %}
  <li class="page-item"><a class="page-link {% if page_obj.number == page %}active{% endif %}" href="{% querystring page=page %}">{{page}}</a></li>
  {% endfor %}
  <li class="page-item {{  page_obj.has_next|yesno:',disabled,disabled'  }}">
    <a class="page-link" href="{% if page_obj.has_next %}{% querystring page=page_obj.next_page_number %}{% endif %}" aria-label="Previous">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>
{% endif %}
  
{% endblock %}
