{% extends "cms/private_base.html" %}

{% block crumb %}
{{ block.super }}
<li class="breadcrumb-item">
  <a href="{{ request.get_full_path }}">{{page_title}}</a>
</li>
{% endblock %}

{% block app_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ user|capfirst }}</h3>
          <div class="card-tools">
            <a href="{% url 'users:user_profile_change' %}" class="btn btn-primary btn-sm">
              <i class="bi bi-pencil me-1"></i>Editar
            </a>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th style="width: 150px;">Nome</th>
                <td>{{ user.first_name }}</td>
              </tr>
              <tr>
                <th>Sobrenome</th>
                <td>{{ user.last_name }}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <a href="{% url 'cms:index' %}" onclick="window.history.back(); return false;" class="btn btn-secondary">
            <i class="bi bi-arrow-left me-1"></i>Voltar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
