{% extends "cms/private_base.html" %}
{% load crispy_forms_tags %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block crumb %}
{{ block.super }}
<li class="breadcrumb-item">
  <a href="{% url 'cms:publication_change' %}">{{page_title}}</a>
</li>
{% endblock %}

{% block app_content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="d-flex justify-content-between mt-3">
    <a href="{% url 'cms:publication_detail' %}" class="btn btn-secondary">Voltar</a>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</form>
{% endblock %}
