{% extends 'dashboard/private_base.html' %}

{% block app_content %}
<div class="container-fluid">
  <div class="row">
    {% if perms.app.view_issue %}
    <div class="col-lg-3 col-6">
      <div class="small-box text-bg-primary">
        <div class="inner">
          <h3>{{ issues|default:"-" }}</h3>
          <p>Edições</p>
        </div><i class="bi bi-files small-box-icon"></i>
        <a href="{% url 'dashboard:issue_list' %}" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
          Acessar<i class="bi bi-link-45deg"></i>
        </a>
      </div>
    </div>
    {% endif %}
    {% if perms.app.view_page %}
    <div class="col-lg-3 col-6">
      <div class="small-box text-bg-success">
        <div class="inner">
          <h3>{{ pages|default:"-" }}</h3>
          <p>Páginas</p>
        </div><i class="bi bi-hand-index-thumb small-box-icon"></i>
        <a href="{% url 'dashboard:page_list' %}" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
          Acessar<i class="bi bi-link-45deg"></i>
        </a>
      </div>
    </div>
    {% endif %}
    {% if perms.app.view_document %}
    <div class="col-lg-3 col-6">
      <div class="small-box text-bg-warning">
        <div class="inner">
          <h3>{{ documents|default:"-" }}</h3>
          <p>Documentos</p>
        </div><i class="bi bi-file-earmark-arrow-up-fill small-box-icon"></i>
        <a href="{% url 'dashboard:document_list' %}" class="small-box-footer link-dark link-underline-opacity-0 link-underline-opacity-50-hover">
          Acessar<i class="bi bi-link-45deg"></i>
        </a>
      </div>
    </div>
    {% endif %}
    {% if perms.users.view_user %}
    <div class="col-lg-3 col-6">
      <div class="small-box text-bg-danger">
        <div class="inner">
          <h3>{{ users|default:"-" }}</h3>
          <p>Usuários</p>
        </div><i class="bi bi-people-fill small-box-icon"></i>
        <a href="{% url 'dashboard:user_list' %}" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
          Acessar<i class="bi bi-link-45deg"></i>
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
