{% extends 'public/base.html' %}
{% load static i18n %}
{% block title %} {{ page.title }} {% endblock title %}
{% block bodyclass %} single-page {% endblock %}

{% block page_header %}
<header class="container py-4">
  <h2 class="section-title">{{ page.title }}</h2>
</header>
{% endblock %}

{% block content %}
<section class="container pb-4">
  <div class="row">
    <div class="col-md-12">
      {% block page_content %}
        <h1>EM BREVE</h1>  
      {% endblock %}
    </div>
  </div>
</section>
{% endblock content %}
