{% extends "base_page.html" %}
{% load static %}
{% block page_content %}
<div class="row row-cols-1 row-cols-md-3 justify-content-center">
{% for issue in content %}
<div class="col">
  <div class="card mb-3" style="max-width: 30rem;">
      <a href="{% url 'issue_detail' issue.id %}">
        {% if issue.cover %}
          <img src="{{ issue.cover.url }}" class="img-fluid border mt-3 rounded-start mx-auto d-block w-75" alt="Capa">
        {% else %}
          <img src="{% static 'img/placeholder/cover.png' %}" class="img-fluid border mt-3 rounded-start mx-auto d-block w-75" alt="Capa">
        {% endif %}
      </a>
      <div class="card-body text-center">
        <h5 class="card-title">{{ issue.title }}</h5>
        <p class="card-text"><small class="text-muted">Publicado em {{ issue.pub_date }}</small></p>
        <a href="{% url 'issue_detail' issue.id %}" class="btn btn-primary">
          Detalhes
        </a>
      </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
