{% extends 'public/base.html' %}
{% load static %}
{% block title %}Edição {{ issue.title }}{% endblock title %}
{% block bodyclass %}bg-black single-page{% endblock bodyclass %}

{% block content %}
<section class="section about bg-white">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="section-title">{{ issue.title }}</h1>
      <h2 class="section-title">Apresentação</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {{ issue.presentation | safe }}
      <p><strong>Data de publicação</strong>: {{ issue.pub_date }}</p>
    </div>
    <div class="col-md-4 p-3">
      <div>
        {% if issue.file and issue.cover %}
        <a href="{{ issue.file.url }}">
          <img class="img-fluid border border-3 w-75 d-block mx-auto" src="{{ issue.cover.url }}" alt="Capa">
        </a>
        {% else %}
        <a href="#">
          <img class="img-fluid border border-3 w-75 d-block mx-auto" src="{% static 'img/placeholder/cover.png' %}" alt="Capa">
        </a>
        {% endif %}
      </div>
      <div class="list-group py-4">
        <div class="list-group-item bg-dark mb-2">
          {% if issue.file %}
          <a class="d-block text-light text-start text-decoration-none text-capitalize" href="{{ issue.file.url}}" target="_blank">
          {% else %}
          <a class="d-block text-light text-start text-decoration-none text-capitalize" href="#" disabled>
          {% endif %}
            <span class=" me-2"><i class="fas fa-download"></i></span>
            Download
          </a>
        </div>
      </div> 
    </div>
  </div>
</div>
</section>
{% endblock content %}
